<div class="flex flex-grow flex-col">
    <main id="main" class="lg:pb-ds2-52">
        <div class="px-ds2-20 pt-ds2-0 lg:pb-ds2-52 lg:pt-ds2-40">
            <div class="flex flex-col gap-ds2-16 pb-ds2-44 ds2-container-lg lg:gap-ds2-24 lg:pb-ds2-60">
                <div class="flex w-full flex-col gap-ds2-32 lg:flex-row-reverse lg:justify-between">
                    <aside
                        class="flex w-full flex-1 flex-col gap-ds2-28 pt-ds2-16 lg:w-auto lg:min-w-0 lg:max-w-[528px] lg:gap-ds2-40 lg:py-ds2-20 lg:pl-ds2-20">
                        <div class="hidden lg:block">
                            <!-- Event -->
                            <app-event [data]="data"></app-event>
                        </div>
                        <div class="lg:hidden">
                            <!-- Section1 -->
                            <app-section1 [data]="data"></app-section1>
                        </div>
                        <div class="lg:hidden">
                            <!-- Reviews -->
                            <app-reviews [data]="data"></app-reviews>
                        </div>
                        <!-- Location Info -->
                        <div class="flex flex-col gap-ds2-16 lg:sticky lg:top-ds2-16 lg:gap-ds2-20">
                            <div
                                class="flex flex-col items-start justify-center md:rounded-ds2-28 md:bg-ds2-surface-fill-primary-enabled md:shadow-ds2-shadow-xs-border">
                                <app-card-location
                                    [data]="{icon:imgUrl.calendar, title:data.dataExtra.dateForm}"></app-card-location>
                                <app-card-location
                                    [data]="{icon:imgUrl.pin, title:data.dataExtra.place, desc:data.dataExtra.address}"></app-card-location>
                                <div class="w-full pb-ds2-8 pt-ds2-24 lg:hidden">
                                    <div class="flex flex-col gap-ds2-20">
                                        <app-map [data]="data.dataExtra.map.movil"></app-map>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="lg:hidden">
                            <!-- Event -->
                            <app-event [data]="data"></app-event>
                        </div>
                    </aside>
                    <div
                        class="flex w-full flex-1 flex-col gap-ds2-48 py-0 lg:min-w-[560px] lg:max-w-[620px] lg:gap-ds2-60 lg:pt-ds2-40">
                        <div class="hidden lg:block">
                            <!-- Section1 -->
                            <app-section1 [data]="data"></app-section1>
                        </div>
                        <div class="hidden lg:block">
                            <!-- Reviews -->
                            <app-reviews [data]="data"></app-reviews>
                        </div>
                        <!-- Details -->
                        <app-details [data]="data"></app-details>
                        <!-- Assistants -->
                        <app-assistants [data]="data.dataExtra.assistants"></app-assistants>
                        <div class="xs:block sm:hidden">
                            <div class="mx-auto h-[50px] w-[320px]">
                                <div>
                                    <div>
                                        <div class="" id="meetup_banner_event_home_mobile"
                                            name="meetup_banner_event_home_mobile"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Photos -->
                        <app-photos [photos]="data.dataExtra.photos"></app-photos>

                        <div class="flex flex-col gap-ds2-48 lg:gap-ds2-60 lg:pt-ds2-16">
                            <section class="flex flex-col gap-ds2-32"><a id="events-link"
                                    class="group/seeMore block hover:no-underline" data-event-label="see-more-events"
                                    href=""><button
                                        class="flex w-full cursor-pointer items-center gap-ds2-16 rounded-ds2-24 bg-ds2-surface-fill-tertiary-enabled p-ds2-16 text-left md:flex-row md:items-center md:gap-ds2-20 md:p-ds2-20">
                                        <div class="min-w-0 flex-1">
                                            <div class="ds2-m16 truncate text-ds2-text-fill-primary-enabled">Ver más
                                                eventos de <span>Odoo Meetup Group</span></div>
                                        </div><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="lucide lucide-chevron-right shrink-0 text-ds2-icon-fill-secondary-enabled transition-transform group-hover/seeMore:translate-x-ds2-4"
                                            aria-hidden="true">
                                            <path d="m9 18 6-6-6-6"></path>
                                        </svg>
                                    </button></a></section>

                            <!-- Themes -->
                            <app-themes [data]="data.dataExtra.themes"></app-themes>
                            <!-- Button Report -->
                            <button
                                class="inline-flex items-center justify-center rounded-ds2-max max-w-full relative select-none data-[disabled=false]:active:scale-98 transition-all duration-150 before:absolute before:rounded-ds2-max before:z-0 before:opacity-0 data-[disabled=false]:hover:before:opacity-100 before:transition-opacity before:duration-150 data-[disabled=true]:cursor-not-allowed data-[disabled=true]:pointer-events-none hover:no-underline text-ds2-text_button-content-fill-secondary-enabled hover:text-ds2-text_button-content-fill-secondary-hover before:bg-ds2-text_button-base-fill-shared-hover data-[disabled=true]:text-ds2-text_button-content-fill-secondary-disabled gap-ds2-6 ds2-m16 before:-inset-x-ds2-12 before:-inset-y-ds2-6 w-fit"
                                type="button" data-disabled="false">
                                <span class="relative z-10 flex min-w-0 max-w-full items-center justify-center"
                                    style="gap: inherit;">
                                    <span
                                        class="relative z-10 flex min-w-0 max-w-full items-center justify-center truncate"
                                        style="gap: inherit;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                            stroke-width="2.146625258399798" stroke-linecap="round"
                                            stroke-linejoin="round" class="lucide lucide-flag flex-shrink-0"
                                            aria-hidden="true">
                                            <path d="M4 15s1-1 4-1 5 2 8 2 4-1 4-1V3s-1 1-4 1-5-2-8-2-4 1-4 1z"></path>
                                            <line x1="4" x2="4" y1="22" y2="15"></line>
                                        </svg>
                                        <span class="min-w-0 max-w-full truncate px-ds2-2">Reportar
                                            evento</span>
                                    </span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Others -->
            <app-others [events]="others"></app-others>

        </div>

        <!-- Assistance Button -->
        <app-assistance-button [data]="data"></app-assistance-button>

        <div data-event-label="RSVP Modal"></div>
    </main>
</div>