<a [class]="classB"
    data-disabled="false" href="">
    <span class="relative z-10 flex min-w-0 max-w-full items-center justify-center overflow-hidden"
        style="gap: inherit;">
        <span class="flex min-w-0 max-w-full items-center justify-center overflow-hidden" style="gap: inherit;">
            <span class="flex min-w-0 max-w-full flex-col items-center justify-center overflow-hidden">
                <span class="block min-w-0 max-w-full truncate">{{title}} </span>
            </span>
        </span>
    </span>
</a>