<div class="flex flex-col gap-ds2-24 ds2-container-lg">
    <section class="flex flex-col gap-ds2-32">
        <div class="flex items-baseline justify-between">
            <div class="flex gap-ds2-12 items-center">
                <div class="flex flex-col gap-ds2-4">
                    <h2 class="ds2-b24 text-ds2-text-fill-primary-enabled">También te puede gustar</h2>
                </div>
            </div>
            <app-button-purple [title]="'Ver todo'"
                [classB]="'inline-flex items-center justify-center rounded-ds2-max max-w-full relative select-none data-[disabled=false]:active:scale-98 transition-all duration-150 before:absolute before:rounded-ds2-max before:z-0 before:opacity-0 data-[disabled=false]:hover:before:opacity-100 before:transition-opacity before:duration-150 data-[disabled=true]:cursor-not-allowed data-[disabled=true]:pointer-events-none hover:no-underline text-ds2-text_button-content-fill-brand_primary-enabled hover:text-ds2-text_button-content-fill-brand_primary-hover before:bg-ds2-text_button-base-fill-shared-hover data-[disabled=true]:text-ds2-text_button-content-fill-brand_primary-disabled gap-ds2-6 ds2-m16 before:-inset-x-ds2-12 before:-inset-y-ds2-6'">
            </app-button-purple>
        </div>
        <div class="grid grid-cols-1 gap-ds2-24 sm:grid-cols-3">
            <app-card-event *ngFor="let data of eventsAux" [data]="data"></app-card-event>

        </div>
    </section>
    <div class="mx-auto flex w-[320px] max-w-full items-center justify-center lg:hidden">
        <div>
            <div>
                <div class="" id="meetup_events_details_BTF" name="meetup_events_details_BTF"></div>
            </div>
        </div>
    </div>
</div>