<a href="" data-event-label="Story 2 variant2" target="_blank" rel="noopener noreferrer"
    class="group block no-underline hover:no-underline">
    <div class="relative mb-ds2-32">
        <div class="overflow-hidden rounded-ds2-32 transition-all duration-200 group-hover:scale-98">
            <img alt="" loading="lazy" width="360" height="190" decoding="async" data-nimg="1"
                class="relative aspect-[360/190] w-full" [srcset]="data.imgSet" [src]="data.img"
                style="color: transparent;">
        </div>
    </div>
    <div>
        <h3 class="ds2-b20 mb-ds2-8 text-ds2-text-fill-primary-enabled">{{data.title}}</h3>
        <p class="ds2-r16 text-ds2-text-fill-secondary-enabled">{{data.description}}</p>
    </div>
</a>