<a href="https://www.meetup.com/es-ES"
    class="relative block hover:no-underline mb-ds2-12 aspect-[1.2/1] md:aspect-[1.05/1] md:h-[140px] lg:aspect-[1.4/1] lg:h-[172px] rounded-ds2-32 shadow-ds2-shadow-xs-border group lg:mt-ds2-24"
    data-event-label="Category tile variant2">
    <div class="absolute inset-x-ds2-12 -bottom-ds2-6 aspect-[10/3] max-h-[93px] rounded-ds2-24"
        [style]="`background-image: url(&quot;${data.background}&quot;); background-size: cover;`">
    </div>
    <div
        class="relative flex h-full flex-col justify-between rounded-ds2-32 bg-ds2-surface-fill-primary-enabled p-ds2-20 lg:p-ds2-24">
        <div class="flex flex-1 items-start justify-start">
            <p
                class="ds2-b16 line-clamp-2 w-full whitespace-pre-line text-left text-ds2-text-fill-primary-enabled lg:ds2-b20">
                {{data.title}}</p>
        </div>
        <div class="flex items-end justify-between pt-ds2-12">
            <div class="flex items-center justify-start pb-ds2-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="1.971801207018598" stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide hidden text-ds2-icon-fill-secondary-enabled transition-transform duration-200 group-hover:-translate-y-ds2-4 group-hover:translate-x-ds2-4 lg:block"
                    aria-hidden="true">
                    <path d="M17.127 17.614c-1.347-3.61-1.25-5.876 0-10.253-4.513 1.095-6.785 1.356-10.253 0">
                    </path>
                    <path d="M6.874 17.614 17.127 7.36"></path>
                </svg>
            </div>
            <div class="flex items-center justify-end">
                <img alt="pizza icon" loading="lazy" width="44" height="44" decoding="async" data-nimg="1"
                    [srcset]="data.iconSet"
                    [src]="data.icon"
                    style="color: transparent;">
            </div>
        </div>
    </div>
</a>